<!doctype html>
<title>CalDining Menu Information</title>
<h1>{{ dc }} {{ meal }} Menu</h1>
{% for station in stations %}
    <h3>{{ station }}</h3>
    <table border="1">
    <tr><th>Food</th><th>Meat Status</th><th>Allergens</th><th>Key Ingredients</th></tr>
    {% for value in stations[station] %}
        <tr>
        <td width="200"><a href="{{ value.url }}">{{ value.dish }}</a></td>
        <td width="100">{{ value.vegetarian }}</td>
        <td width="150">{{ value.allergens }}</td>
        <td width="500">
            {% for ing in value.ingredients %}
                {{ ing }}
                <br>
            {% endfor %}
        </td>
        </tr>
    {% endfor %}
    </table>
    <br>
{% else %}
    <d1>No data (perhaps you need to <a href="/refresh/">refresh</a>?)</d1>
{% endfor %}
